extend layout

block content
  section(name='generate')
    .center
      p Click to create your very own pizza vote!
      button(data-target='share') Create Pizza Vote

  section(name='share')
    .center
      p Send this link to whomever is eating pizza.
      input#display-key(type='text')
      .btns
        button.small(data-target='vote') Vote
        button.small(data-target='results') Results

  section(name='vote')
    .center
      - each topping in toppings
        div
          label
            input(type='checkbox', name=topping.name, value=1)
            span=topping.name
      .btns
        button(data-target='results') Submit

  section(name='results')
    .center
      div results go here