extend layout
include mixins/sections

block create
  section(name='generate')
    .center: .wrap
      h3 pizzavote?
      p Ordering pizza for a group of people? Tired of not knowing how many pizzas to order or what toppings to get? Well, now you can make everyone happy with pizzavote.com
      h3 Steps
      ul.steps
        li Create Vote
        li Share your link
        li Select how many slices they want and what toppings you like and don’t
        li We calculate all the votes and determine what you should order!
      h3 Get Started
      .btns.next
        i.icon-share-alt.icon-flip-vertical
        button(data-target='share') Create Pizza Vote

  section(name='share').hidden
    .center: .wrap
      h3 Vote Created
      p Your vote has been created. Now anyone you send this link too can let you know how many slices they plan on eat and the topics they like.
      h3 Copy &amp; Send
      .next
        i.icon-share-alt.icon-flip-vertical
        input#display-key.url(type='text')
      h3 next steps
      .btns
        span Cast your own
        button.small(data-target='vote') Vote
        span  or view the
        button.small(data-target='results') Results

block vote

  section(name='vote').hidden
    .center: .wrap
      mixin votes

  section(name='results').hidden
    .center: .wrap
      div results go here