@font-face
  font-family 'Benguiat'
  src url('../fonts/BenguiatGothicStd-Bold.otf')
  font-weight normal
  font-style normal

@font-face
  font-family 'Proxima-Nova'
  src url('../fonts/proximanova-regular-webfont.ttf')
  font-weight normal
  font-style normal

@font-face
  font-family 'Proxima-Nova-Bold'
  src url('../fonts/proximanova-bold-webfont.ttf')
  font-weight normal
  font-style normal