/*
 * Import nib
 */
@import 'nib'
@import 'fonts'
/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */

/*
<li title="#D9B36C" style="background: #D9B36C"></li>
<li title="#D9CAAD" style="background: #D9CAAD"></li>
<li title="#735645" style="background: #735645"></li>
<li title="#BF3604" style="background: #BF3604"></li>
<li title="#8C3027" style="background: #8C3027"></li></ul>
*/
main-color = #fa5b4d
background-color = #D9CAAD
red = #BF3604
step-color = #735645

html, body
  height 100%
  width 100%

body
  background-color background-color
  color #735645
  font-family 'Proxima-Nova'
  font-size 18px
  overflow-y scroll

.step
  background step-color
  border-radius 8px
  color background-color
  font-size 32px
  height 50px
  left 20px
  line-height 50px
  position fixed
  text-align center
  text-shadow -1px -1px 1px rgba(0,0,0,.5)
  top 20px
  width 50px

article
  height 100%
  width: 100%

section
  display table
  height 100%
  width: 100%
  .center
    display table-cell !important
    text-align center
    vertical-align middle
    .wrap
      display inline-block
      text-align left
      width: 650px

h3
  font-family 'Proxima-Nova-Bold'
  line-height 21px
  margin-top 32px
  text-shadow 1px 1px 1px rgba(255,255,255,.5)
  text-transform uppercase

p
  line-height 21px
  margin-bottom 10px

ul.steps
  padding-left 32px
  margin-bottom 10px
  counter-reset step
  li
    padding 10px 5px
    position relative
    &:before
      counter-increment step
      background step-color
      border-radius 50%
      color background-color
      content counter(step)
      left -32px
      line-height 28px
      position absolute
      text-align center
      top 5px
      width 28px

.hidden
  display none

.next
  margin-bottom 10px
  *
    vertical-align top
  i
    font-size 32px

.slices
  margin-bottom 10px
  label
    margin-right 10px

button
  background-color red
  background-image linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.15))
  border none
  border-bottom 4px solid #8C3027
  border-radius 8px
  color #fff
  font-family 'Proxima-Nova'
  font-size 32px
  margin-left 5px
  outline none
  padding 16px
  text-shadow -1px -1px 1px rgba(0,0,0,.5)
  &.small
    border-radius 4px
    font-size 18px
    padding 4px 8px
  &.medium
    border-radius 6px
    font-size 24px
    padding 6px 12px
  &:hover
    background-image none

.toppings
  clearfix()
  ul.list
    float left
    width 200px
    li
      padding 5px
      span.yes
        color #565902
      span.no
        color red
      i
        opacity .5
        margin-right 5px
      input[type='radio']
        display none
        &.yes:checked ~ label.yes i
          color #565902
          opacity 1
        &.no:checked
          & ~ label.no i
            color red
            opacity 1
          & ~ span
            text-decoration line-through
    &.results
      li
        padding-left 24px
        position relative
        .yes, .no
          border-radius 50%
          color background-color
          font-size 12px
          left 0
          line-height 20px
          position absolute
          text-align center
          top 4px
          width 20px
        .yes
          background #565902
        .no
          background red


.url
  border 1px solid red
  border-radius 8px
  box-shadow 0 0 1px rgba(0,0,0,.5) inset
  font-size 32px
  margin-left 5px
  padding 8px
  outline none
  width 370px

.totals
  clearfix()
  li
    float left
    //text-align center
    width 33.3333%
    div
      display inline-block
      text-align center
    strong
      font-size 64px
    h4
      font-size 14px

.recommend
  li
    line-height 20px
    padding 5px
    padding-left 24px
    position relative
    .count
      border-radius 50%
      background step-color
      color background-color
      //font-size 12px
      left 0
      line-height 20px
      position absolute
      text-align center
      top 5px
      width 20px
    .topping
      background #565902
      border-radius 2px
      color background-color
      display inline-block
      padding 0 3px


