/*
 * Import nib
 */
@font-face {
  font-family: 'Benguiat';
  src: url("../fonts/BenguiatGothicStd-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima-Nova';
  src: url("../fonts/proximanova-regular-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima-Nova-Bold';
  src: url("../fonts/proximanova-bold-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
/*
<li title="#D9B36C" style="background: #D9B36C"></li>
<li title="#D9CAAD" style="background: #D9CAAD"></li>
<li title="#735645" style="background: #735645"></li>
<li title="#BF3604" style="background: #BF3604"></li>
<li title="#8C3027" style="background: #8C3027"></li></ul>
*/
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #d9caad;
  color: #735645;
  font-family: 'Proxima-Nova';
  font-size: 18px;
}
.step {
  background: #735645;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #d9caad;
  font-size: 32px;
  height: 50px;
  left: 20px;
  line-height: 50px;
  position: fixed;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
  top: 20px;
  width: 50px;
}
article {
  height: 100%;
  width: 100%;
}
section {
  display: table;
  height: 100%;
  width: 100%;
}
section .center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
section .center .wrap {
  display: inline-block;
  text-align: left;
  width: 450px;
}
h3 {
  font-family: 'Proxima-Nova-Bold';
  margin-bottom: 10px;
  text-transform: uppercase;
}
p {
  line-height: 21px;
  margin-bottom: 10px;
}
ul.steps {
  padding-left: 32px;
  margin-bottom: 10px;
  counter-reset: step;
}
ul.steps li {
  padding: 10px 0;
  position: relative;
}
ul.steps li:before {
  counter-increment: step;
  background: #735645;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #d9caad;
  content: counter(step);
  left: -32px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 28px;
}
.hidden {
  display: none;
}
.next {
  margin-bottom: 10px;
}
.next i {
  font-size: 32px;
}
.slices {
  margin-bottom: 10px;
}
.slices label {
  margin-right: 10px;
}
button {
  background-color: #bf3604;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Proxima-Nova';
  font-size: 32px;
  outline: none;
  padding: 16px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
}
button.small {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px 8px;
}
.toppings {
  zoom: 1;
}
.toppings:before,
.toppings:after {
  content: "";
  display: table;
}
.toppings:after {
  clear: both;
}
.toppings ul.list {
  float: left;
  width: 200px;
}
.toppings ul.list li {
  padding: 5px;
}
.toppings ul.list li i {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  margin-right: 5px;
}
.toppings ul.list li input[type='radio'] {
  display: none;
}
.toppings ul.list li input[type='radio']:checked ~ i {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.toppings ul.list li input[type='radio'].yes:checked ~ i {
  color: #565902;
}
.toppings ul.list li input[type='radio'].no:checked ~ i {
  color: #bf3604;
}
.url {
  border: 1px solid #bf3604;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
  box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
  font-size: 32px;
  margin-left: 5px;
  padding: 8px;
  outline: none;
  width: 350px;
}
